.battery-frame {
    display: inline-block;
    position: relative;
    border-top:    0;
    border-right:  2px solid  #555;
    border-bottom: 2px solid #555;
    border-left:   0;
    background-color: #aaa;
    font-size: 2vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    pointer-events: auto;
    align-content: center;
}

.battery-screen {
    display: inline-block;
    color: #509b5d;
    background-color: black;
    border-top:    2px solid  #555;
    border-right:  0;
    border-bottom: 0;
    border-left:   2px solid  #555;
    padding: 2px;
    margin-left: 3px;
    margin-right: 3px;
}

.battery-led {
    position: relative;
    display: inline-block;
    visibility: visible;
    z-index: 11;
}

.battery-plug {
    display: inline-block;
    color: black;
}
