.brick {
  display: inline-block;
  position: relative;
  pointer-events: auto;
}

.brick-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 111%;
  height: 121%;
  display: inline;
  background-size: 100% 100%;
  pointer-events: none;
}

.brick-cracked {
  position: absolute;
  left: 0;
  top: 0;
  width: 111%;
  height: 121%;
  display: inline;
  background-size: 100% 100%;
  pointer-events: none;
}

.brick-shadow {
  display: inline;
  position: relative;
  pointer-events: none;
  -webkit-box-shadow:0 0 20px #000000;
  -moz-box-shadow: 0 0 20px #000000;
  box-shadow: 0 0 20px #000000;
}

