.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#root {
  background-color: black;
  color: white;
  display: grid;
  min-height: 100%;
  width: 100%;
  grid-template: 10vh 80vh 10vh / 20vw 60vw 20vw;

  --wall-cell-height: calc((80vh + 4 * 80vh / 44) / 44);
  --wall-cell-width: calc((60vw + 8 * 60vw / 68) / 68);
  --left-width: 20vw;
}

#header {
  grid-row: 1;
  grid-column: 1 / 4;
  text-align: center;
  /* border: 1px solid black; */
}

#left {
  grid-row: 2;
  grid-column: 1;
  text-align: center;
  z-index: 1;
}

#center {
  display: block;
  position: relative;
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  font-size: 0px;
  overflow: hidden;
  pointer-events: none;
  white-space: nowrap;
}

#right {
  grid-row: 2;
  grid-column: 3;
  text-align: center;
  z-index: 1;
}

#footer {
  position: relative;
  grid-row: 3;
  grid-column: 1 / 4;
  height: auto;
}

#footer-menu {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
}
