.inventory-container {
  position: relative;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.inventory-container + .inventory-container {
  border-top: 2px solid white;
  margin-top: 15px;
  padding-top: 15px;
}

.inventory-container .header {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 5px;
}

.resource {
  position: relative;
  width: 100%;
  padding: 2px;
}

.collectables {
  display: flex;
  align-items: center;
  justify-content: center;
}

.collectable {
  position: relative;
  display: inline-block;
  margin: 5px;
}
