.inventory-container {
  position: relative;
  text-align: center;
  width: 90%;
  margin: 5%;
}

.inventory-container .header {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.resource {
  position: relative;
  width: 100%;
  padding: 2px;
}

.collectables {
  display: flex;
  align-items: center;
  justify-content: center;
}

.collectable {
  position: relative;
  display: inline-block;
  margin: 5px;
}
