.wall {
  display: grid;
  position: absolute;
  grid-template-rows: repeat(44, 1fr);
  grid-template-columns: repeat(68, 1fr);
  top: calc(-200% / 44);
  left: calc(-400% / 68);
  height: calc(100% + 400% / 44);
  width: calc(100% + 800% / 68);
  z-index: 0;
}
