.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#root {
  display: grid;
  min-height: 100%;
  width: 100%;
  grid-template: 10vh 80vh 10vh / 20vw 60vw 20vw
}

#header {
  grid-row: 1;
  grid-column: 1 / 4;
  text-align: center;
  border: 1px solid black;
}

#left {
  grid-row: 2;
  grid-column: 1;
  text-align: center;
  outline: 1px solid black;
}

#center {
  position: relative;
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  outline: 1px solid black;
  font-size: 0px;
  background-color: black;
  overflow: hidden;
}

#right {
  grid-row: 2;
  grid-column: 3;
  text-align: center;
  outline: 1px solid black;
}

#footer {
  grid-row: 3;
  grid-column: 1 / 4;
  height: auto;
  outline: 1px solid black;
}

.wall {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.brick-row {
  display: block;
}

.brick-container {
  display: inline-block;
  position: relative;
  width: 4.1666vw;
  height: 4.1972vh;
}

.brick {
  position: absolute;
  left: 0;
  top: 0;
  display: inline;
  width: 4.6875vw;
  height: 5.2465vh;
  background-image: url(./img/brown_brick.png);
  background-size: 100% 100%;
}

.brickHit {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: -50%;
  z-index: 1;
}